<div class="popular">
  <div class="container">
    <div>
      <div class="col-md-5 w3l-popular-left">
        <img src="../../assets/image/transaction.jpg" />
      </div>

      <div class="col-md-7 w3l-popular-right">
        <h2>Transaction Service</h2>
        <p>View fine me gone this name an rank. Compact greater and demands mrs the parlors. Park be fine easy am size away.
          Him and fine bred knew. At of hardly sister favour. As society explain country raising weather of. Sentiments nor
          everything off out uncommonly partiality bed.
        </p>
      </div>

    </div>
  </div>

  <div class="popular">
    <div class="container">
      <div>

        <div class="col-md-7 w3l-popular-right">
          <h2>Reminder Service</h2>
          <p>Consulted he eagerness unfeeling deficient existence of. Calling nothing end fertile for venture way boy. Esteem
            spirit temper too say adieus who direct esteem. It esteems luckily mr or picture placing drawing no. Apartments
            frequently or motionless on reasonable projecting expression. Way mrs end gave tall walk fact bed. </p>
        </div>

        <div class="col-md-5 w3l-popular-left">
          <img src="../../assets/image/notification.jpg" />
        </div>
      </div>
    </div>
  </div>

  <div class="popular">
    <div class="container">
      <div>
        <div class="col-md-5 w3l-popular-left">
          <img src="../../assets/image/planning.jpg" />
        </div>

        <div class="col-md-7 w3l-popular-right">
          <h2>Planning Service</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam orci tortor, tincidunt non nunc eget, mollis pulvinar
            ligula. Quisque pharetra maximus feugiat. Morbi hendrerit dolor sit amet quam lobortis, at ultrices eros ultrices.
            Fusce eget mi nulla. Curabitur odio nisl, dapibus id hendrerit id, scelerisque et lorem. Sed accumsan lacinia
            orci, a lobortis neque finibus vitae. </p>
        </div>


      </div>
    </div>
  </div>